# 1.Loading the Data

In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [83]:
train_df   = pd.read_csv("./Data/train.csv")
test_df    = pd.read_csv("./Data/test.csv")
census_df  = pd.read_csv("./Data/census_starter.csv")

## 2.Overview Dataset

In [84]:
train_df.columns

Index(['row_id', 'cfips', 'county', 'state', 'first_day_of_month',
       'microbusiness_density', 'active'],
      dtype='object')

In [68]:
test_df.columns

Index(['row_id', 'cfips', 'first_day_of_month'], dtype='object')

In [69]:
census_df.columns

Index(['pct_bb_2017', 'pct_bb_2018', 'pct_bb_2019', 'pct_bb_2020',
       'pct_bb_2021', 'cfips', 'pct_college_2017', 'pct_college_2018',
       'pct_college_2019', 'pct_college_2020', 'pct_college_2021',
       'pct_foreign_born_2017', 'pct_foreign_born_2018',
       'pct_foreign_born_2019', 'pct_foreign_born_2020',
       'pct_foreign_born_2021', 'pct_it_workers_2017', 'pct_it_workers_2018',
       'pct_it_workers_2019', 'pct_it_workers_2020', 'pct_it_workers_2021',
       'median_hh_inc_2017', 'median_hh_inc_2018', 'median_hh_inc_2019',
       'median_hh_inc_2020', 'median_hh_inc_2021'],
      dtype='object')

In [70]:
train_df.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243

In [71]:
test_df.head()

            row_id  cfips first_day_of_month
0  1001_2022-11-01   1001         2022-11-01
1  1003_2022-11-01   1003         2022-11-01
2  1005_2022-11-01   1005         2022-11-01
3  1007_2022-11-01   1007         2022-11-01
4  1009_2022-11-01   1009         2022-11-01

In [72]:
census_df.head(3)

,pct_bb_2017,pct_bb_2018,pct_bb_2019,pct_bb_2020,pct_bb_2021,cfips,pct_college_2017,pct_college_2018,pct_college_2019,pct_college_2020,...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
0,76.6,78.9,80.6,82.7,85.5,1001,14.5,15.9,16.1,16.7,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1,74.5,78.1,81.8,85.1,87.9,1003,20.4,20.7,21.0,20.2,...,1.4,1.3,1.4,1.0,1.3,52562,55962.0,58320,61756.0,64346.0
2,57.2,60.4,60.5,64.6,64.6,1005,7.6,7.8,7.6,7.3,...,0.5,0.3,0.8,1.1,0.8,33368,34186.0,32525,34990.0,36422.0

## 3.Check Missing Values in Dataset

## 3.1 Check Missing Values of train.csv

In [73]:
##Check Missing Values of train.csv 
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122265 entries, 0 to 122264
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   row_id                 122265 non-null  object
 1   cfips                  122265 non-null  int64
 2   county                 122265 non-null  object
 3   state                  122265 non-null  object
 4   first_day_of_month     122265 non-null  object
 5   microbusiness_density  122265 non-null  float64
 6   active                 122265 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 6.5+ MB

In [74]:
##Check Missing Values of train.csv 
train_df.isnull().sum()

row_id                   0
cfips                    0
county                   0
state                    0
first_day_of_month       0
microbusiness_density    0
active                   0
dtype: int64

## Result: train.csv --> Values is non-null

## 3.2 Check Missing Values of test.csv

In [75]:
##Check Missing Values of test.csv 
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25080 entries, 0 to 25079
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   row_id              25080 non-null  object
 1   cfips               25080 non-null  int64
 2   first_day_of_month  25080 non-null  object
dtypes: int64(1), object(2)
memory usage: 587.9+ KB

In [76]:
##Check Missing Values of test.csv 
test_df.isnull().sum()

row_id                0
cfips                 0
first_day_of_month    0
dtype: int64

## Result: test.csv  --> Values is non-null

## 3.3 Check Missing Values of census_starter.csv

In [77]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   pct_bb_2017            3142 non-null   float64
 1   pct_bb_2018            3142 non-null   float64
 2   pct_bb_2019            3142 non-null   float64
 3   pct_bb_2020            3141 non-null   float64
 4   pct_bb_2021            3141 non-null   float64
 5   cfips                  3142 non-null   int64
 6   pct_college_2017       3142 non-null   float64
 7   pct_college_2018       3142 non-null   float64
 8   pct_college_2019       3142 non-null   float64
 9   pct_college_2020       3141 non-null   float64
 10  pct_college_2021       3141 non-null   float64
 11  pct_foreign_born_2017  3142 non-null   float64
 12  pct_foreign_born_2018  3142 non-null   float64
 13  pct_foreign_born_2019  3142 non-null   float64
 14  pct_foreign_born_2020  3141 non-null   float64
 15  pct_foreign_born_2021  3141 non-null   float64
 16  pct_it_workers_2017    3142 non-null   float64
 17  pct_it_workers_2018    3141 non-null   float64
 18  pct_it_workers_2019    3142 non-null   float64
 19  pct_it_workers_2020    3141 non-null   float64
 20  pct_it_workers_2021    3141 non-null   float64
 21  median_hh_inc_2017     3142 non-null   int64
 22  median_hh_inc_2018     3141 non-null   float64
 23  median_hh_inc_2019     3142 non-null   int64
 24  median_hh_inc_2020     3140 non-null   float64
 25  median_hh_inc_2021     3140 non-null   float64
dtypes: float64(23), int64(3)
memory usage: 638.3 KB

In [78]:
##Check Missing Values of census_starter.csv 
census_df.isnull().sum()

pct_bb_2017              0
pct_bb_2018              0
pct_bb_2019              0
pct_bb_2020              1
pct_bb_2021              1
cfips                    0
pct_college_2017         0
pct_college_2018         0
pct_college_2019         0
pct_college_2020         1
pct_college_2021         1
pct_foreign_born_2017    0
pct_foreign_born_2018    0
pct_foreign_born_2019    0
pct_foreign_born_2020    1
pct_foreign_born_2021    1
pct_it_workers_2017      0
pct_it_workers_2018      1
pct_it_workers_2019      0
pct_it_workers_2020      1
pct_it_workers_2021      1
median_hh_inc_2017       0
median_hh_inc_2018       1
median_hh_inc_2019       0
median_hh_inc_2020       2
median_hh_inc_2021       2
dtype: int64

## Result: census.csv--> Null values :  
pct_bb_2020, pct_bb_2021, pct_college_2020, pct_college_2021, pct_foreign_born_2020, pct_foreign_born_2021, pct_it_workers_2018, pct_it_workers_2020, pct_it_workers_2021, median_hh_inc_2018, edian_hh_inc_2020, median_hh_inc_2021.

## 4. EDA

In [79]:
# converting first_day_of_month column to date
train_df["first_day_of_month"] = train_df["first_day_of_month"].apply(lambda x: pd.to_datetime(x))

# sorting values 
train_df = train_df.sort_values(['cfips', 'first_day_of_month'])

In [80]:
train_df.groupby('cfips').count()

,row_id,county,state,first_day_of_month,microbusiness_density,active
cfips,,,,,,
1001,39,39,39,39,39,39
1003,39,39,39,39,39,39
1005,39,39,39,39,39,39
1007,39,39,39,39,39,39
1009,39,39,39,39,39,39
...,...,...,...,...,...,...
56037,39,39,39,39,39,39
56039,39,39,39,39,39,39
56041,39,39,39,39,39,39
56043,39,39,39,39,39,39
56045,39,39,39,39,39,39